<mat-card class="site-card">
  <mat-card-title>
    tiny2-object
  </mat-card-title>
  <mat-card-content>
    <p>
      tiny2-object is a partial OOP implementation in C.
    </p>

    <p>
      It supports method tables, virtual method tables, and inheritance.
    </p>

    <p>
      It DOES NOT support such features as data encapsulation
      (private/protected fields; but you can create a class with a pointer to a
      private object) and multiple inheritance.
    </p>

    <p>
      Greeter class:
    </p>

    <pre><code class="language-c">{{ greeterc }}</code></pre>

    <p>
      TitleGreeter class:
    </p>

    <pre><code class="language-c">{{ titlegreeterc }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/tiny2-object">
      GitHub
    </a>  
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    tiny2-object
  </mat-card-title>
  <mat-card-content>
    <p>
      tiny2-containers is a container implementation for tiny2-object.
    </p>

    <p>
      It has string wrappers (for storing strigs) lists, vectors, queues and maps.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/tiny2-containers">
      GitHub
    </a>  
  </mat-card-actions>
</mat-card>