<mat-card class="site-card">
  <mat-card-title>
    Axi
  </mat-card-title>
  <mat-card-content>
    <p>
      Axi is a data streaming library for Crystal.
    </p>

    <p>
      Example:
    </p>

    <pre><code class="language-crystal">{{ axidemo }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/axi">
      GitHub
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/axi/blob/master/spec/axi_spec.cr">
      Spec file
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    NobleXML
  </mat-card-title>
  <mat-card-content>
    <p>
      NobleXML is an adapted for streaming XML generator/parser library.
    </p>

    <p>
      Generating XML:
    </p>

    <pre><code class="language-javascript">{{ nxmldemo1 }}</code></pre>

    <p>
      Parsing XML:
    </p>

    <pre><code class="language-javascript">{{ nxmldemo2 }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/noblexml">
      GitHub
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/noblexml/blob/master/test.xml">
      test.xml
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    particle_pool
  </mat-card-title>
  <mat-card-content>
    <p>
      particle_pool is a thread pool implementation written in Ruby which also
      utilizes fibers for running multiple tasks in a same thread.
    </p>

    <p>
      You can find demo code (also used for testing) below.
    </p>    
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particle_pool">
      GitHub
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/particle_pool/blob/master/bin/task.rb">
      task.rb
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/particle_pool/blob/master/bin/test-task.rb">
      test-task.rb
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/particle_pool/blob/master/bin/test-thread.rb">
      test-thread.rb
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/particle_pool/blob/master/bin/test-pool.rb">
      test-pool.rb
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    tiny-embed
  </mat-card-title>
  <mat-card-content>
    <p>
      tiny-embed is a small utility program which embeds given data into .c files.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/tiny-embed">
      GitHub
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/tiny-embed/blob/master/tiny-embed.txt">
      Sample config
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    ParticleMSG
  </mat-card-title>
  <mat-card-content>
    <p>
      ParticleMSG is a json messaging (not a chat!) protocol for various applications inspired by IRC and JSON-RPC.
    </p>

    <p>
      It supports simple hashed password authentication and runs in a single TLS session.
    </p>

    <p>
      It IS NOT designed for transferring big data or anything like that.
    </p>

    <p>
      A sample session might look like this:
    </p>

    <pre><code class="language-json">{{ pmsgsession }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particlemsg">
      More
    </a>
    <a mat-button color="primary" href="https://github.com/handicraftsman/particlemsg_go">
      Implementation for Go
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    particletest    
  </mat-card-title>
  <mat-card-content>
    <p>
      particletest is a testing framework for C++.
    </p>

    <pre><code class="language-cpp">{{ ptestdemo }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particletest">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    particledi
  </mat-card-title>
  <mat-card-content>
    <p>
      particledi is a partial implementation of the Context pattern for implementing dependency injection.
    </p>

    <pre><code class="language-cpp">{{ pdidemo }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particledi">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    particleini
  </mat-card-title>
  <mat-card-content>
    <p>
      particleini is an .ini parser for C++.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particleini">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    particlecmd
  </mat-card-title>
  <mat-card-content>
    <p>
      particlecmd is a CLI argument parser for ruby.
    </p>

    <p>
      It supports extracting positionals, flags and options from given string.
    </p>

    <pre><code class="language-ruby">{{ pcmddemo }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particlecmd">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card">
  <mat-card-title>
    hake
  </mat-card-title>
  <mat-card-content>
    <p>
      hake is a task manager inspired by GNU Make.
    </p>

    <p>
      It supports both Python and <a href="https://github.com/hylang/hy">Hy</a> hakefiles.
    </p>

    <pre><code class="language-python">{{ hakepydemo }}</code></pre>

    <pre><code class="language-clojure">{{ hakehydemo }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/hake">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>