<mat-card class="site-card">
  <mat-card-title>
    Loggers
  </mat-card-title>
  <mat-card-content>
    I have written some loggers for various languages.
  </mat-card-content>
</mat-card>

<mat-card class="site-card" id="logger-guosh">
  <mat-card-title>
    Guosh
  </mat-card-title>
  <mat-card-content>
    <p>
      Guosh is a logger for C and C++, written in C++.
    </p>

    <p>
      C++ example:
    </p>
    <pre><code class="language-cpp">{{ guoshexample1 }}</code></pre>
    
    <p>
      C example:
    </p>
    <pre><code class="language-c">{{ guoshexample2 }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/guosh">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card" id="logger-tiny-log">
  <mat-card-title>
    tiny-log
  </mat-card-title>
  <mat-card-content>
    <p>
      tiny-log is a logger for C.
    </p>

    <p>
      Example:
    </p>
    <pre><code class="language-c">{{ tinylogexample }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/tiny-log">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card" id="logger-particlelog">
  <mat-card-title>
    ParticleLog
  </mat-card-title>
  <mat-card-content>
    <p>
      ParticleLog is a logger for Ruby.
    </p>

    <p>
      Example:
    </p>
    <pre><code class="language-ruby">{{ particlelogexample }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/particlelog">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card" id="logger-gluon">
  <mat-card-title>
    Gluon
  </mat-card-title>
  <mat-card-content>
    <p>
      Gluon is a logger for crystal.
    </p>

    <p>
      Example:
    </p>
    <pre><code class="language-crystal">{{ gluonexample }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/gluon">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="site-card" id="logger-positron">
  <mat-card-title>
    Positron
  </mat-card-title>
  <mat-card-content>
    <p>
      Positron is a logger for Python.
    </p>

    <p>
      Example:
    </p>
    <pre><code class="language-python">{{ positronexample }}</code></pre>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" href="https://github.com/handicraftsman/positron">
      GitHub
    </a>
  </mat-card-actions>
</mat-card>