<mat-card class="site-card">
  <mat-card-content style="margin-bottom: 0">
    <span class="mat-display-1" style="margin-bottom: 16px">About</span><br/>

    <p>
      Hello. I am Nickolay Ilyushin, yet another developer.
    </p>
    <p>
      I don't have much to say about myself.
    </p>
    <p>
      You can find links to the corresponding project pages below and at navbar.
    </p>

    <span class="mat-display-1" style="margin-bottom: 16px">Contact</span>

    <mat-list>
      <mat-list-item class="site-contact-item">
        Email:&nbsp;<a href="mailto:nickolay.ilyushin@gmail.com">nickolay.ilyushin@gmail.com</a>
      </mat-list-item>
      <mat-list-item class="site-contact-item">
        <span matLine>Email (secondary):&nbsp;<a href="mailto:nickolay02@inbox.ru">nickolay02@inbox.ru</a></span>
        <span matLine>Prefer the first one as an email service provider of the second one (mail.ru) is banned here in Ukraine.</span>
      </mat-list-item>
      <mat-list-item class="site-contact-item">
        Discord: handicraftsman_#9800
      </mat-list-item>
      <mat-list-item class="site-contact-item">
        IRC: handicraftsman at freenode and rusnet.
      </mat-list-item>
      <mat-list-item class="site-contact-item">
        XMPP: handicraftsman@xmpp.thehellverse.tk
      </mat-list-item> 
    </mat-list>

    <span class="mat-display-1">Projects</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" routerLink="/projects/gogling">
      Gogling
    </button>
    <button mat-button color="primary" routerLink="/projects/loggers">
      Loggers
    </button>
    <button mat-button color="primary" routerLink="/projects/irc-bots">
      IRC Bots
    </button>
    <button mat-button color="primary" routerLink="/projects/tiny2">
      tiny2
    </button>
    <button mat-button color="primary" routerLink="/projects/utilities">
      Utilities/Other
    </button>
  </mat-card-actions>
</mat-card>